{% extends 'main/layoute.html' %}

{% block title %}
    <title>Контакты</title>
{% endblock %}

{% block content %}
<h2 class="mb-4">Связаться со мной</h2>

<p>Если у вас есть вопросы по проекту или предложения — пожалуйста, свяжитесь со мной через почту или мессенджер. Этот раздел скоро будет дополнен формой обратной связи на Django.</p>

<ul class="list-unstyled">
    <li><strong>Email:</strong> sdn899@gmail.com</li>
    <li><strong>Telegram:</strong> @sdn899</li>
    <li><strong>GitHub:</strong> github.com/sdn888</li>
</ul>
{% endblock %}
