{% extends 'main/layoute.html' %}

{% block title %}
    <title>Первая страница на Django</title>
{% endblock %}

{% block content %}
<h1 class="mb-4">Добро пожаловать на сайт {{caption}}!</h1>

<p>
    Добро пожаловать на мой первый сайт, созданный с помощью фреймворка <strong>Django</strong>! Это обучающий проект, в рамках которого я осваиваю основы веб-разработки: маршрутизацию, шаблоны, работу с представлениями и статическими файлами. На этой странице вы можете увидеть базовую структуру сайта, подключённые стили, а также реализацию навигации между разделами.
</p>

<p>
    Используя <em>Django</em>, я научился разделять логику и отображение, работать с URL-шаблонами и создавать простую, но гибкую архитектуру проекта. Проект построен с применением Bootstrap для стилизации интерфейса, что делает его адаптивным и современным. Далее планирую добавить формы, базу данных и взаимодействие с пользователем. Спасибо, что заглянули!
</p>
{% endblock %}
