<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'home' %}">Главная</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if request.path == '/new/' %}active{% endif %}" href="{% url 'new' %}">Второстепенная</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if request.path == '/project/' %}active{% endif %}" href="{% url 'project' %}">О проекте</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if request.path == '/news_home/' %}active{% endif %}" href="{% url 'news_home' %}">Новостная страница</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if request.path == '/add_news/' %}active{% endif %}" href="{% url 'add_news' %}">Добавить новость</a>
    </li>

    <li class="nav-item">
        <a class="nav-link {% if request.path == '/contact/' %}active{% endif %}" href="{% url 'contact' %}">Контакты</a>
    </li>
</ul>
