{% extends 'main/layoute.html' %}

{% block title %}
    Вторая страница
{% endblock %}

{% block content %}
<h2 class="mb-4">О проекте: структура и цели</h2>

<p>
    Эта страница посвящена описанию структуры моего Django-проекта. В нём я выделил основные компоненты: <code>views.py</code>, <code>urls.py</code>, и шаблоны. Каждая страница подключается с помощью маршрутов и наследует базовый шаблон, обеспечивая единый дизайн и удобство редактирования. В проект также добавлен CSS-файл, хранящийся в папке <code>static</code>.
</p>

<p>
    Главная цель этого сайта — закрепить базовые навыки и понять, как взаимодействуют между собой компоненты Django. В будущем я планирую внедрить формы, базу данных (SQLite или PostgreSQL), а также реализовать регистрацию пользователей и CRUD-функциональность. Этот проект — мой первый шаг в мир серверной разработки, и я с удовольствием делюсь результатом!
</p>
{% endblock %}
