{% extends 'main/layoute.html' %}

{% block title %}
    <title>О проекте</title>
{% endblock %}

{% block content %}
<h2 class="mb-4">О проекте Django</h2>

<p>Этот сайт является частью учебного проекта, созданного для освоения фреймворка Django. Он включает в себя маршруты, шаблоны, подключение статики и работу с HTML. На следующих этапах будут добавлены формы, работа с моделями и база данных.</p>

<p>Основной акцент сделан на структуре: использование базового шаблона, подключения CSS, Bootstrap, создание частичных шаблонов для повторяющихся элементов сайта, таких как меню и подвал.</p>
{% endblock %}
